@page "/login"
@inject SafeVault.Services.SanitizationService sanitizationService;


<h2>Login Page</h2>


@code 
{
    private string username;
    private string email;
    private string password;

    private string usernameMessage = string.Empty;
    private string emailMessage = string.Empty;
}