@page "/login"
@inject SafeVault.Services.AuthService AuthService


<h3>Login</h3>
<div>
    <label>Username:</label>
    <input @bind="username" />
</div>
<div>
    <label>Password:</label>
    <input type="password" @bind="password" />
</div>
<button @onclick="HandleLogin">Login</button>
<p>@message</p>


@code {
    private string username;
    private string password;
    private string message;

    private async Task HandleLogin()
    {
        if (AuthService.Authenticate(username, password))
        {
            message = "Login successful!";
            // Redirect to a secure page or set authentication state
        }
        else
        {
            message = "Invalid username or password.";
        }
    }
}